In [1]:
import pandas as pd
import os

# File paths for each year
bench_paths = {
    2007: "data/7_MA_Benchmarks/ratebook2007/countyrate2007.csv",
    2008: "data/7_MA_Benchmarks/ratebook2008/countyrate2008.csv",
    2009: "data/7_MA_Benchmarks/ratebook2009/countyrate2009.csv",
    2010: "data/7_MA_Benchmarks/ratebook2010/CountyRate2010.csv",
    2011: "data/7_MA_Benchmarks/ratebook2011/CountyRate2011.csv",
    2012: "data/7_MA_Benchmarks/ratebook2012/CountyRate2012.csv",
    2013: "data/7_MA_Benchmarks/ratebook2013/CountyRate2013.csv",
    2014: "data/7_MA_Benchmarks/ratebook2014/CountyRate2014.csv",
    2015: "data/7_MA_Benchmarks/ratebook2015/CSV/CountyRate2015.csv"
}

# Number of rows to skip for each year
skip_rows = {
    2007: 9,
    2008: 10,
    2009: 9,
    2010: 9,
    2011: 11,
    2012: 8,
    2013: 4,
    2014: 2,
    2015: 3
}

bench_data_list = []

# Define the columns for years 2007-2011
cols_07_11 = [
    "ssa", "state", "county_name", "aged_parta",
    "aged_partb", "disabled_parta", "disabled_partb",
    "esrd_ab", "risk_ab"
]

# Process years 2007 to 2011
for year in range(2007, 2012):
    skip = skip_rows[year]
    df = pd.read_csv(
        bench_paths[year],
        skiprows=skip,
        header=None,
        names=cols_07_11
    )
    # Select desired columns
    df = df[["ssa", "aged_parta", "aged_partb", "risk_ab"]].copy()
    
    # Create additional missing columns with None values
    for col in ["risk_star5", "risk_star45", "risk_star4", 
                "risk_star35", "risk_star3", "risk_star25", 
                "risk_bonus5", "risk_bonus35", "risk_bonus0"]:
        df[col] = None
        
    df["year"] = year
    bench_data_list.append(df)

cols_12_14 = [
    "ssa", "state", "county_name", "risk_star5", "risk_star45",
    "risk_star4", "risk_star35", "risk_star3", "risk_star25", "esrd_ab"
]

for year in range(2012, 2015):
    skip = skip_rows[year]
    df = pd.read_csv(
        bench_paths[year],
        skiprows=skip,
        header=None,
        names=cols_12_14
    )
    # Select desired columns
    df = df[["ssa", "risk_star5", "risk_star45", "risk_star4", "risk_star35", "risk_star3", "risk_star25"]].copy()
    
    # Create additional missing columns with None values
    for col in ["aged_parta", "aged_partb", "risk_ab", "risk_bonus5", "risk_bonus35", "risk_bonus0"]:
        df[col] = None
        
    df["year"] = year
    bench_data_list.append(df)

df_2015 = pd.read_csv(
    bench_paths[2015],
    skiprows=skip_rows[2015],
    header=None,
    names=["ssa", "state", "county_name", "risk_bonus5", "risk_bonus35", "risk_bonus0", "esrd_ab"],
    na_values="#N/A"
)

# Select desired columns
df_2015 = df_2015[["ssa", "risk_bonus5", "risk_bonus35", "risk_bonus0"]].copy()

# Add additional missing columns with None values
for col in ["risk_star5", "risk_star45", "risk_star4", 
            "risk_star35", "risk_star3", "risk_star25",
            "aged_parta", "aged_partb", "risk_ab"]:
    df_2015[col] = None

df_2015["year"] = 2015
bench_data_list.append(df_2015)

benchmark_final = pd.concat(bench_data_list, ignore_index=True)

# Save the final DataFrame to a pickle file
output_path = "data/output/ma_benchmark.pkl"
os.makedirs(os.path.dirname(output_path), exist_ok=True)
benchmark_final.to_pickle(output_path)

benchmark_final.head()

/var/folders/8p/wmnjrdd55rx2pn76f5j7m2tw0000gn/T/ipykernel_17317/220293686.py:103: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  benchmark_final = pd.concat(bench_data_list, ignore_index=True)

,ssa,aged_parta,aged_partb,risk_ab,risk_star5,risk_star45,risk_star4,risk_star35,risk_star3,risk_star25,risk_bonus5,risk_bonus35,risk_bonus0,year
0,ALABAMA,347.13,373.47,NaN,None,None,None,None,None,None,None,None,None,2007
1,ALABAMA,347.13,373.47,NaN,None,None,None,None,None,None,None,None,None,2007
2,ALABAMA,338.36,337.90,NaN,None,None,None,None,None,None,None,None,None,2007
3,ALABAMA,368.08,373.47,NaN,None,None,None,None,None,None,None,None,None,2007
4,ALABAMA,370.77,373.47,NaN,None,None,None,None,None,None,None,None,None,2007